<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	<script>
	$(document).ready(function() {
		var socket = io.connect();
		
		socket.on('message', function(data) {
			var output = "";
			output+='<li><p>'+data.name+'</p></li>';
			$(output).prependTo('#content');
		});
		
		$('#btn').click(function() {
			socket.emit('message', {
				  name: '버튼클릭!'
			});
		});
	});
</script>

</head>
  <body>
    <h1></h1>
    <p></p>
     <hr/>
     <input id = "name" />
     <input id = "message" />
     <button id='btn'>Button</button>
     <ul id="content"> </ul>
    
  </body>
</html>