<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>g</h1>
    <p>g</p>
     <hr/>
     <input id = "name" />
     <input id = "message" />
     <button>Button</button>
     <ul id="content"> </ul>
    
  </body>
</html>